{{ define "cms/dashboard.html" }}
    {{ template "header" . }}
    <div class="container">
        {{ if .flash_success }}
        <div class="alert alert-success" role="alert">
            {{ .flash_success }}
        </div>
        {{ end }}
        <div class="alert alert-warning" role="alert">
            <a href="/cms/logout" >Logout</a>
        </div>
        <ul>
            <li><a href="slides" >Slides</a></li>
            <li><a href="#" >Single page</a></li>
            <li><a href="#" >Cars</a></li>
            <li><a href="#" >Services</a></li>
            <li><a href="#" >FAQ</a></li>
            <li><a href="#" >Blog</a></li>
        </ul>
    </div>
    {{ template "footer" }}
{{ end }}